[core]
abbrev = 12
autocrlf = input
compression = 9
editor = nvim
ignorecase = false
filemode = true
pager = delta --diff-so-fancy
preloadIndex = true
whitespace = error

[color]
ui = true

[commit]
gpgsign = true

[diff]
colorMoved = default
renames = copies
interHunkContext = 10

[gpg]
format = ssh

[fetch]
	prune = true

[init]
defaultBranch = master 

[merge]
log = true

[pull]
rebase = true

[push]
default = simple
autoSetupRemote = true

[rerere]
enabled = true

[status]
submodulesummary = true

[alias]
root = rev-parse --show-toplevel
fomo = !git fetch origin main && git rebase origin/main
lose-all = !git fetch origin main && git reset --hard origin/main
lose = !git reset --hard HEAD
no-edit-force-push = !git add . && git commit --amend --no-edit && git push --force-with-lease
undo = !git reset --soft HEAD^
gfom = !git fomo
unfuck = !git reset HEAD~1 --soft

[delta]
line-numbers = true
side-by-side = true
syntax-theme = Monokai Extended Bright

[url "git@github.com:"]
insteadOf = https://github.com/
insteadOf = git://github.com/

[url "git@gitlab.com:"]
insteadOf = https://gitlab.com/
insteadOf = git://gitlab.com/

[url "git@bitbucket.org:"]
insteadOf = https://bitbucket.org/
insteadOf = git://bitbucket.org/
