[submodule "home/.config/alacritty/themes"]
path = home/.config/alacritty/themes
url = https://github.com/alacritty/alacritty-theme.git
[submodule "home/.config/tmux/plugins/tpm"]
	path = home/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
